.conteudoDetalhesTarefa {
  background-color: #32343d;
  padding: 10px 15px;
  border-radius: 10px;
}

.conteudoDetalhesTarefa p {
  color: #fff;
  line-height: 1.5em;
}

.conteudoDetalhesTarefa h2 {
  color: #fff;
  margin-bottom: 15px;
}

.btnvoltar {
  width: 30%;
  margin: 15px 0;
}
