.button {
  height: 40px;
  background-color: #3498db;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  padding: 0 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #32343d;
  color: #fff;
}
