.addTarefaContainer {
  width: 100%;
  display: flex;
  margin: 15px 0;
}

.inputAddTarefa {
  background-color: #32343d;
  padding: 10px 12px;
  border: none;
  color: #fff;
  flex: 2;
}

.espacoBotao {
  margin-left: 10px;
  flex: 1;
}
